<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script th:src="@{/webjars/htmx.org/1.9.2/dist/htmx.js}"></script>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form
                    class="form"
                    hx-post="/users"
            >
                <label for="name">Name</label>
                <input
                        id="name"
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="e.g John Doe"
                        hx-post="/users/validateName"
                        hx-trigger="change"
                        hx-sync="closest form:abort"
                        hx-target="#name-error"
                >
                <span id="name-error" style="color: red"></span><br>
                <label for="age">Age</label>
                <input
                        id="age"
                        class="form-control"
                        type="number"
                        name="age"
                        placeholder="20"
                >
                <label for="location">Location</label>
                <input
                        id="location"
                        class="form-control"
                        type="text"
                        name="location"
                        placeholder="e.g. Munich"
                >
                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
<!--                    <td th:text="${user.age}"></td>-->
<!--                    <td th:text="${user.location}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>