<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script th:src="@{/webjars/htmx.org/1.9.2/dist/htmx.js}"></script>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form
                    hx-post="/users"
                    hx-swap="none"
            >
                <label for="name">Name</label>
                <input
                        id="name"
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="e.g John Doe"
                        hx-post="/users/validateName"
                        hx-trigger="change"
                        hx-target="#name-error"
                >
                <span id="name-error" style="color: red"></span><br>
                <label for="age">Age</label>
                <input
                        id="age"
                        class="form-control"
                        type="number"
                        name="age"
                        placeholder="20"
                >
                <label for="location">Location</label>
                <input
                        id="location"
                        class="form-control"
                        type="text"
                        name="location"
                        placeholder="e.g. Munich"
                >
                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div hx-get="/userList" hx-trigger="load, updateUserList from:body"></div>
        </div>

    </div>
    <div>
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample"

        >
            Open
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-body">
                <div>
                    Some text as placeholder
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>